.liveGameSidebar {
  display: flex;
  flex-direction: column;
  padding: 0 $m-size 0 $m-size;
}

.liveGameSidebar__title {
  text-align: center;
}

.liveGameSidebar__teams {
  display: flex;
  justify-content: space-evenly;
}

.liveGameSidebar__teamsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $s-size;
  border: 1px solid $ligt-grey;
  box-shadow: 1px 0px 1px 0px $blue;
  padding: 5px;
  min-width: 130px;
}

.liveGameSidebar__teamsBlock--middle {
  border: none;
  box-shadow: unset;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.liveGameSidebar__teamsBlock--middle p {
  margin: 0
}

.liveGameSidebar__teamsBlock img {
  height: 90px;
  object-fit: contain;
}

.liveGameSidebar__teamsBlock p {
  margin-top: 0;
}

.liveGameSidebar__scoreUpdate {
  display: flex;
  margin: 0 $s-size 0 $s-size;
  justify-content: space-between;
}

.liveGameSidebar__scoreUpdate .MuiSvgIcon-root {
  fill: darken($color: #3f51b5, $amount: 15);
  cursor: pointer;
}

.liveGameSidebar__scoreUpdate__home * {
  margin: 5px
}

.liveGameSidebar__scoreUpdate__away * {
  margin: 5px
}

.liveGameSidebar__actions {
  display: flex;
  margin: $s-size;
}
.liveGameSidebar__actions button {
  margin-right: $s-size; 
}

.closeSidebar .MuiSvgIcon-root{
  fill: darken($color: #3f51b5, $amount: 25);
  cursor: pointer;
}